.PdfViewer {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    &__load {
      margin-top: 1em;
      color: white;
    }

    &__document {
      margin: 1em 0;

      button {
        margin: 0 15px;
      }

      .dx-button {
        display: block!important;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto !important;
        box-shadow: 3px 3px 1px #ccc;
        -webkit-box-shadow: 3px 3px 1px #ccc;
        -moz-box-shadow: 3px 3px 1px #ccc;
      }

      .react-pdf {
        &__Document {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__Page {
          max-width: calc(~'100% - 2em');
          margin: 1em;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

          canvas {
            max-width: 100%;
            height: auto !important;
          }
        }

        &__message {
          padding: 20px;
          color: white;
        }
      }
    }
  }
}
